<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="shoppingmall.dao.mapper.AddressMapper">
  
  <insert id = "addAddress">
      insert into vipaddress(id,user_id,zone,address,code,addressee,mobilephone) values
      (vipaddress_seq.nextval,#{user_id},#{zone},#{address},#{code},#{addressee},
      #{mobilephone})    
  </insert>
     
  <select id = "findAll" resultType="VipAddress"> 
       select id,user_id,zone,address,code,addressee,mobilephone from vipaddress 
       where user_id = #{user_id}
  </select>
     
  <delete id="delete">
       delete from vipaddress where id = #{id}
  </delete>
     
  <update id="alterAddress">
       update vipaddress set zone = #{zone},address=#{address},code=#{code},addressee=#{addressee},
       mobilephone=#{mobilephone} where id = #{id} 
  </update>
  
  <select id="findIdOneAddres" resultType="VipAddress">
       select * from vipaddress where id =#{id}
  </select>
</mapper>

