<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="shoppingmall.dao.mapper.SellerMapper">
 
  <insert id="addCommodity">
     insert into pro(id,title,picturePath,classify,price,stock,introduce)
     values(pro_seq.nextval,#{title},#{picturePath},#{classify},#{price},#{stock},#{introduce})
  </insert>
   
</mapper>
